@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Platypi", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  background-color: #00004b;
}

header {
  background-image: url("../img/simpsons.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  width: 100%;
  height: 700px;
  padding: 60px 16% 0 0;
}

header .list-person {
  width: 150px;
  height: 70px;
  font-size: 2rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  background-color: #ff0000;
  color: #ffffff;
}

header .list-person:hover {
  background-color: #ffff00;
  color: #ff0000;
}

.topoButton {
  position: fixed;
  font-size: 1.8rem;
  top: 1;
  bottom: 0;
  right: 0px;
  width: 70px;
  height: 35px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 1.4rem;
}

.topoButton:hover {
  background-color: #ffff00;
  color: #000000;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: #ffffff;
}

#div-pesquisar {
  text-align: center;
  width: 100%;
}

#div-pesquisar #input-pesquisar {
  width: 25%;
  height: 3rem;
  outline: none;
  background-color: #d4e0df;
  border-radius: 1rem;
  font-size: 1.6rem;
  padding: 1.8rem;
}

#div-pesquisar #input-pesquisar:focus {
  background-color: #ffff00c0;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 3.5rem;
  width: 100%;
  margin: 3rem 0;
}

.cards {
  width: 24rem; /* 230 */
  height: 33rem; /* 330 */
  display: flex;
  padding: 2rem;
  flex-flow: column;
  align-items: center;
  border-radius: 4rem;
  background-color: #d4e0df;
  cursor: pointer;
  overflow: scroll;
  transition: 0.3s;
}

.cards:hover {
  background-color: #ffff00c0;
  box-shadow: 0 0 5px 4px #ffffff95;
}

.cards::-webkit-scrollbar {
  display: none;
}

.card-pesquisa::-webkit-scrollbar {
  display: none;
}

.cards figure img {
  width: 7rem;
  height: 10rem;
}

.cards p {
  font-size: 1.6rem;
}

.cards h2 {
  font-size: 2.2rem;
  text-align: center;
  margin: 10px 0 12px 0;
}

.descricao {
  width: 80%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 4rem;
  width: 90%;
}

.none {
  display: none;
}

.hidden {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-80%);
  transition: 0.1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 2s;
}

footer {
  height: 3.5rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}

@media (max-width: 720px) {
  html {
    font-size: 52%;
  }

  header {
    background-image: url("../img/simpsons.jpg");
    background-size: cover;
    width: 100%;
    height: 220px;
  }

  header .list-person {
    display: none;
  }

  .topoButton {
    position: fixed;
    /* font-size: 14px; */
    top: 1;
    bottom: 0;
    left: 2px;
    width: 50px;
    height: 30px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 10px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #input-pesquisar {
    min-width: 75%;
  }

  #btn-buscar,
  #limpar {
    margin: 15px 15px 0px 15px;
  }

  .none {
    display: none;
  }

  .hidden {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-80%);
    transition: 0.1s;
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 2s;
  }
}
